* {
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	width:100%;
	height:100%;
	h1, h2, h3, h4, h5, h6 {
		font-weight: 100;
	}
	a {
		text-decoration: none;
		color: white;
	}
}





nav#app-nav-bar {
	height: 5em;
	width: 100%;
	background: rgba(255,255,255,0);
	>div{
		background: rgba(0,0,0,0.8);
		color: white;
		height: 100%;
		
		>div {
			display: inline-block;
		}
		#back-to-app-home {
			width: 7%;
			text-align: center;
			a {
			color: white;
			}
		}

		#app-info {
			width: 83%;
			>div {
				display: inline-block;
			}


			#app-name {
				padding-right: .5em;
				vertical-align: center;
				h1 {
					font-weight: 100;
				}
			}
			#viewing-series {
				padding: 0em 1em;
				
			}
			#series-name {
				h1 {
					font-weight: 100;
				}
			}
			#app-for-windows {
				padding: 0em 1em;

			}

		}
		
		#signin-to-app{
			vertical-align: center;
			button {
				padding: 0;
				margin: 0;
			}
		}
	}
	
}


.dashboard-content {
	color: black;
}



#dashboard {
	height: 100%;
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	>div {
		//height: 100%;
	}
	background-color: rgba(0, 0, 0, 0.3); 

	#sidebar {
		width:100%;
		height: 4em;
		border-bottom: 1em;
		border-color: black;

		
		.option:hover {
			//background-color: white;
		}


		ul {
		  font-weight: 100;
			width: 100%;
			style: none;
			display: flex;
			flow: row nowrap;
			align-tems: center;
			align-content: center;
			justify-content: center;
			li {
				list-style: none;
				padding: 0 1em ;
			}
		}
	}

	#sidebar-content {
	  color: black;
		width: auto;

		.sidebar-option-content.not-active {
			display: none;
		}
		>div {
			width: 100%;
		}

		div[data-link="account"] {
			display: flex;
			flex-flow: column nowrap;
			>div {
				width: 100%;
				display: flex;
				flex-flow: row wrap;
				.title{
					width: 25%;
				}
				.data {
					width: 75%;
					display: flex;
					flex-flow: column nowrap;
				}
			}

			#profile{
				height: 10em;
			}

			#password {
				height: 5em;
			}

			#close-account {
				height: 5em;
			}

		}
	}


}

body{
	background-color: rgb(250, 250, 250);
}


#subscriptions-option-content {
  
	display: flex;
	flex-flow: row wrap;
	align-tems: center;
	align-content: center;
	justify-content: center;

	.subscribed-tv-show {
		padding: 2em 0 0 2em;
		height: 20em;
		display: flex;
		flex-flow: column nowrap;
		
		.series-artwork {
			height: 90%;
			img {
				height: 100%;
				min-height: 100%;
				max-height: 100%;
			}
		}
		.series-name {
			height:9%;
			
			font-weight: 100;
			
		}
	}
}








