* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	box-sizing: content-box;
}


body {
	background: #f2f2f2;
	height:100%;
	width: 100%;
}

#page-title {
	text-align: center;
	width: 100%;
	padding: .5em 0;
}

#signup-form {
	>div {
	}
}


.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	//border-color: #78FA89;
}